:root {
  --orange: #e95027;
  --blue: #080af0;
  --yellow: #e9fe53;
  --black: #000000;
  --white: #ffffff;
  --dark: #020202;
  --dark100: #161616;
  --primary-font: 'Syne', sans-serif;
  --secondary-font: 'swear-display', serif;
  --instrument-font: 'Instrument Serif', serif;
  --geist-mono-font: 'Geist Mono', monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* CSS to apply easing effect */
html {
  /* Custom cubic-bezier easing */
  /* scroll-behavior: cubic-bezier(0.42, 0, 0.58, 1); */
}

body {
  margin: 0;
  color: var(--black);
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body[data-overflow='true'] {
  overflow: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
}

/* Loader */

.site-loader {
  position: relative;
  background-color: var(--black);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.site-loader::before {
  content: '';
  position: absolute;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
  transform: translate(-50%, -50%);
  border: 8px solid var(--white);
  border-radius: 50%;
  border-top: 8px solid var(--orange);
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.btn_large {
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: 50rem;
  padding: 16px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.btn_large span,
.btn_large span svg {
  width: 30px;
  height: 30px;
}

.btn_large .icon_right {
  margin-left: 10px;
}

.btn_large .icon_left {
  margin-right: 10px;
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  .btn_large {
    font-size: 83px;
    line-height: 90px;
    text-align: center;
  }

  .btn_large span,
  .btn_large span svg {
    width: 100px;
    height: 100px;
  }

  .btn_large .icon_right {
    margin-left: 24px;
  }

  .btn_large .icon_left {
    margin-right: 24px;
  }
}

.btn_large svg path {
  transition: all 0.5s;
}

.btn_large:hover {
  background-color: var(--blue);
  color: var(--white);
  border-color: var(--blue);
}

.btn_large:hover svg path {
  stroke: var(--white);
}

.head-button {
  position: absolute;
  z-index: 98;
  background-color: var(--orange);
  color: var(--black);
  font-size: 22px;
}

/* Helper Classes */
.hidden {
  display: none;
}

.block {
  display: block;
}

@media (min-width: 992px) {
  .xl\:hidden {
    display: none;
  }

  .xl\:block {
    display: block;
  }
}

/* Header */
.site_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  transition: all 0.15s;
}

.sticky_header {
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.site_header_wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.3s;
}

.sticky_header .site_header_wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site_brand {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
}

.site_brand svg {
  height: 35px;
}

.site_menu_toggle {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  color: var(--black);
}

.menu_toggle_close {
  position: absolute;
  top: 40px;
  right: 15px;
  z-index: 1;
}

.site_menu_modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--orange);
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1050;
  /* transition: transform 0.85s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1); */
  overflow: hidden;
  transform: translateY(-100%);
  /* transform: translate3d(0, -100%, 0); */
  /* transition: background-color 0.5s; */
  /* display: none; */
}

body[data-modal='true'] .site_menu_modal {
  transform: translateY(0);
}

.site_menu_modal .container {
  height: 100%;
}

.site_navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.site_navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.site_navbar li {
  position: relative;
  color: var(--dark100);
  padding-left: 15px;
}

/* .site_navbar li:after {
  content: "";
  border-bottom: 1px solid var(--dark100);
  position: absolute;
  left: -100%;
  right: -100%;
  bottom: 0;
} */

.site_navbar li a {
  display: inline-block;
  text-decoration: none;
}

.site_nav_content {
  transform: translateY(-100px);
  opacity: 0;
  position: relative;
}

.site_navbar li .site_nav_text {
  font-size: 44px;
  line-height: 100px;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--dark100);
  display: inline-block;
  text-decoration: none;
  position: relative;
  /* transition: font-weight 0.2s ease-in-out; */
  transition: font-weight 0.28s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.site_navbar li .site_nav_index {
  position: absolute;
  top: 30px;
  left: -60px;
  color: var(--dark100);
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: -0.04em;
  overflow: hidden;
  height: 22px;
  display: flex;
}

.site_navbar li:first-of-type .site_nav_index {
  right: -50px;
  left: auto;
}

.site_navbar li:nth-of-type(2) .site_nav_index,
.site_navbar li:nth-of-type(3) .site_nav_index,
.site_navbar li:nth-of-type(4) .site_nav_index {
  right: -55px;
  left: auto;
}

.site_nav_index_digit {
  display: flex;
  flex-direction: column;
}

.site_nav_index_digit_static,
.site_nav_index_digit_hover {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.site_nav_index_digit_hover {
  transform: translateY(100%);
}

.site_navbar li a:hover .site_nav_index_digit_static,
.site_navbar li a:hover .site_nav_index_digit_hover {
  transform: translateY(-100%);
}

.site_nav_line {
  background-color: var(--blue);
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  width: 0;
}

.site_navbar li .hover_img {
  position: absolute;
  top: 50px;
  max-width: 270px;
  opacity: 0;
  scale: 0;
  transition: none;
  aspect-ratio: 1 / 1.05;
}

.site_navbar li:first-of-type .hover_img,
.site_navbar li:nth-of-type(2) .hover_img {
  right: -250px;
}

.site_navbar li:nth-of-type(3) .hover_img {
  right: -80px;
}

.site_navbar li:nth-of-type(4) .hover_img {
  right: -30px;
}

.site_nav_content .hover_line {
  background-color: var(--blue);
  height: 8px;
  width: 0;
  display: inline-block;
  position: absolute;
  top: calc(50% - 4px);
  left: 0 !important;
  transform-origin: left;
  transition: width 0.5s ease-out;
}

@media (min-width: 768px) {
  .site_brand {
    font-size: 30px;
    line-height: 32px;
  }

  .site_brand svg {
    height: 56px;
  }

  .site_menu_toggle {
    font-size: 27px;
    line-height: 32px;
    letter-spacing: -0.04em;
  }

  .site_navbar li {
    padding-left: 40px;
  }

  .site_navbar li .site_nav_text {
    text-transform: uppercase;
  }

  .site_navbar li .site_nav_index {
    top: 40px;
  }
}

@media (min-width: 992px) {
  .sticky_header .site_header_wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .site_header_wrapper {
    padding-left: 54px;
    padding-right: 54px;
  }

  .menu_toggle_close {
    top: 50px;
    right: 54px;
  }

  .site_menu_modal {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .site_header_wrapper {
    padding-top: 50px;
  }

  .site_navigation {
    justify-content: center;
  }

  /* .site_navbar li:first-of-type {
    padding-left: 240px;
  }

  .site_navbar li:nth-of-type(2) {
    padding-left: 90px;
  }

  .site_navbar li:nth-of-type(3) {
    padding-left: 460px;
  }

  .site_navbar li:nth-of-type(4) {
    padding-left: 185px;
  } */

  .site_navbar li:first-of-type {
    padding-left: 20.5vw;
  }

  .site_navbar li:nth-of-type(2) {
    padding-left: 10.41vw;
  }

  .site_navbar li:nth-of-type(3) {
    padding-left: 35.7vw;
  }

  .site_navbar li:nth-of-type(4) {
    padding-left: 16.66vw;
  }

  .site_navbar li .site_nav_text {
    font-size: 9.75vw;
    line-height: 11.65vw;
    font-weight: 500;
  }

  .site_navbar li .site_nav_index {
    position: absolute;
    top: 35px;
    left: -105px;
    color: var(--dark100);
    font-size: 27px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: -0.04em;
    height: 30px;
  }

  .site_navbar li:first-of-type .site_nav_index {
    right: -100px;
    left: auto;
  }

  .site_navbar li:nth-of-type(2) .site_nav_index {
    right: -110px;
    left: auto;
  }

  .site_navbar li:nth-of-type(3) .site_nav_index {
    left: -95px;
  }

  .site_navbar li:nth-of-type(4) .site_nav_index {
    left: -105px;
  }

  .site_nav_content .hover_line {
    height: 34px;
    top: calc(50% - 17px);
  }

  /* .site_navbar li a:hover {
    text-decoration-thickness: 35px;
  } */

  .site_navbar li a:hover .site_nav_content {
    transform: none !important;
  }

  .site_navbar li a:hover .site_nav_text {
    font-weight: 800;
  }

  .site_navbar li a:hover .hover_img {
    opacity: 1;
    scale: 1;
    z-index: 1;
    transition:
      opacity 0.35s ease-in-out,
      scale 0.5s ease-in-out;
    /* transition: opacity 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55), scale 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
  }

  .site_navbar li a:hover .hover_line {
    width: 100%;
  }
}

/* Footer */

.site_footer {
  background-color: var(--black);
  color: var(--white);
}

.site_footer .ht_text {
  font-size: 7vw;
  font-weight: 800;
  line-height: 10.5vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 26px 15px;
}

@media (min-width: 992px) {
  .site_footer .ht_text {
    padding: 24px 25px 16px;
  }
}

.site_footer_middle {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}

@media (min-width: 992px) {
  .site_footer_middle {
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.site_footer_middle .ht_desc {
  color: #fff;
  font-size: 68.222px;
  font-style: italic;
  font-weight: 500;
  line-height: 93.5%; /* 63.788px */
  text-transform: lowercase;
  border-bottom: 1px solid var(--white);
  padding: 105px 15px 32px;
  font-family: var(--secondary-font);
  position: relative;
}

.site_footer_middle .ht_desc span svg {
  position: absolute;
  top: 10%;
  right: 10%;
  animation: rotate 10s linear infinite;
  /* display: none!important; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.site_footer_middle .ht_desc a {
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 8px;
}

.site_footer_middle .social_block {
  display: flex;
  justify-content: center;
  padding: 24px 15px;
}

@media (min-width: 992px) {
  .site_footer_middle .ht_desc {
    /* font-size: 140px; */
    font-size: 9.7vw;
    font-weight: 500;
    line-height: 93.5%; /* 130.9px */
    width: 59%;
    padding-top: 204px;
    padding-bottom: 35px;
    border-right: 1px solid var(--white);
    border-bottom: 0;
  }

  .site_footer_middle .social_block {
    width: 41%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.social_nav {
  display: flex;
  align-items: center;
  gap: 13px;
}

.social_nav a {
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 0.091px;
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white);
  border-radius: 50%;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  transition: all 0.5s;
}

.social_nav a:hover {
  background-color: var(--blue);
}

@media (min-width: 992px) {
  .social_nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 42px;
    grid-row-gap: 30px;
  }

  .social_nav a {
    /* font-size: 3vw;
    width: 8vw;
    height: 8vw; */
    width: 120px;
    height: 120px;
    font-size: 28px;
    letter-spacing: 0.14px;
  }
}

.site_footer_bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .site_footer_bottom {
    padding: 35px 25px;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .site_footer_bottom {
    justify-content: space-between;
  }
}

.footer_nav {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 26px 15px;
}

.footer_nav a {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.14px;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  transition: font-weight 0.28s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* transition: font-weight 0.28s ease-in; */
  position: relative;
}

.footer_copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid var(--white);
}

.footer_copyright p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.14px;
  color: var(--white);
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .footer_nav {
    flex-direction: row;
    align-items: center;
    gap: 54px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer_copyright {
    flex-direction: row;
    gap: 24px;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
  }

  .footer_copyright p {
    font-size: 18px;
    line-height: 22px;
  }

  .footer_nav a {
    display: inline-block;
    font-weight: 500;
  }

  .footer_nav a .hover_line {
    background-color: var(--blue);
    height: 4px;
    width: 0;
    display: inline-block;
    position: absolute;
    top: calc(50% - 2px);
    left: 0 !important;
    transform-origin: left;
    transition: width 0.5s ease-out;
  }

  .footer_nav a:hover {
    font-weight: 800;
  }

  .footer_nav a:hover .hover_line {
    width: 100%;
  }
}
